body,ul,li,dl,dt,dd,p,ol,h1,h2,h3,h4,h5,h6,form,img,table,fieldset,legend{margin:0; padding:0;}
ul,li,ol{list-style:none;}
img,fieldset{border:0; }
img{display:block;}
a{text-decoration:none; color:#333;}
h1,h2,h3,h4,h5,h6{font-weight:100;}
body{ font-family:"微软雅黑";}
input,a{outline:none;}

@mixin ass{
    color: #999;
    font-size: 14px;
    &:hover{
        color: #C81623;;
    }
}

//侧边栏导航
#cbl{
    position: fixed;
    width: 150px;
    z-index: 999999;
//  left: -100px;
    li{
        position: fixed;
        top: 52px;
        right: -10px;
        
        a{
            border: 1px solid #CECECE;
            display: block;
            position: absolute;
            top: 0;
            right: -1px;
            height: 50px;
            width: 50px;
            background: white;
            border-bottom-left-radius: 10px;
            border-top-left-radius: 10px;
            z-index: 99999;
            em{
                display: block;
                height: 20px;
                width: 24px;
                background: url(../img/cb0.png);
                background-position: 0 0;
                margin-top: 14px;
                margin-left: 14px;
            }
        }
        
        i{
            border: 1px solid #CECECE;
            position: absolute;
            right: -1px;
            z-index: 9999;
            top: 0px;
            border-radius: 10px;
            background: white;
            display: block;
            padding-left: 6px;
            width: 43px;
            height:34px;
            font-size:10px;
            font-style:normal; 
            padding-top: 15px;
            overflow: hidden;
        }
        &:hover{
            i{
                transition-property: width;
                transition-duration: 0.5s;
                width: 110px;
                transition: all .4s cubic-bezier(.2,.83,.42,.91);
            }
        }
                
    }
    li:nth-child(2){
        position: fixed;
        top: 104px;
        a{
            position: relative;
            em{
                background-position: -45px 2px;
                span{
                    font-style: normal;
                    font-weight: 900;
                    display: block;
                    height: 20px;
                    width: 20px;
                    text-align: center;
                    font-size: 16px;
                    background: red;
                    border-radius: 20%;
                    color: white;
                    position: absolute;
                    top: 0;
                    left: 0px;
                }
            }
        }
    }
    li:nth-child(3){
        position: fixed;
        top: 156px;
        a{
            em{
                background-position: -90px 3px;
            }
        }
    }
    li:nth-child(4){
        position: fixed;
        top: 207px;
        a{
            em{
                background-position: -135px 3px;
            }
        }
    }
    li:nth-child(5){
        position: fixed;
        top: 260px;
        a{
            em{
                background-position: -175px 0;
            }
        }
    }
    li:nth-child(6){
        position: fixed;
        top: 312px;
        a{
            em{
                height: 22px;
                background-position: -226px 0px;
            }
        }
    }
    li:nth-child(7){
        position: fixed;
        top: 364px;
        .a1{
            
            border: 1px solid #CECECE;
            display: block;
            position: absolute;
            top: 0;
            right: -1px;
            height: 50px;
            width: 50px;
            background: white;
            border-bottom-left-radius: 10px;
            border-top-left-radius: 10px;
            z-index: 99999;
            em{
                display: block;
                height: 20px;
                width: 24px;
                background: url(../img/cb0.png);
                background-position: 0 0;
                margin-top: 14px;
                margin-left: 14px;
                background-position: -267px 4px;
            }
        }
            
        
    }
}



//头部信息
header{
    height: 46px;
    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    color: #7E7E7E;
    font-size: 14px;
    a{
        @include ass;
    }
    .header-left{
        display: flex;
        line-height: 46px;
        .sj{
            margin-left: 20px;
            @include ass;
        }
        .al{
            position:relative;
            display: block;
            @include ass;
            ul{
                position: absolute;
                left: 4px;
                top: 46px;
                background: white;
                width: 150px;
                text-align: center;
                border: 1px solid #dadada;
                box-shadow: 0 1px 3px #999;
                display: none;
                z-index: 100;
                li{
                    line-height: 40px;
                    height: 40px;
                    border-bottom: 1px solid #F6F6F6;                    
                    a{
                        display: block;
                    }
                }
            }
            &:hover{
                ul{                   
                    display: block;
                   
                }
            }
        }        
    }
    
    .header-right{
        ul{
            display: flex;
            justify-content: space-between;
            line-height: 46px;
            li{
                margin-left: 40px;
            }
            .ls{
                display: flex;
                justify-content: space-around;
                .icon-cart{                   
                    margin-top: 14px;
                    display: block;
                    height: 18px;
                    width: 20px;
                    background: url(../img/tp1.png) no-repeat left center;
                }               
            }
        }
    }
}


//搜索框
.aa{
    display: flex;
    position: relative;
    .top{
        height: 70px;
        width: 1200px;
        margin: 0 auto;
        display: flex;
        img{
            vertical-align: top;
            width: 192px;
            height: 74px;
            margin-left: 49px;
            border: none;
        }
        .box{
            width: 460px;
            height: 41px;
            background: url(../img/tp3.png) no-repeat;
            background-size: 460px 38px;
            position: relative;
            z-index: 9999;
            margin-left: 110px;
            .txt{
                width: 368px;
                border: none;
                padding-left: 10px;
                margin-left: 2px;
                outline: 0;
                color: #808080;
                font-size: 16px;
                border: 0;
                height: 28px;
                position: absolute;
                top: 5px;
            }
            .btn{
                font-family: "微软雅黑";
                font-size: 22px;
                color: #fff;
                width: 65px;
                border: none;
                cursor: pointer;                              
                position: absolute;               
                right: 0;
                top: 0;
                height: 38px;
                width: 80px;
                background: none;
            }
        }
    }
    nav{
        width: 100%;
        margin-top: -45px;
        font-family: "微软雅黑";
        z-index: 95;
        position: relative;
        position: absolute;
        bottom: 0;
        .ul{
            margin-left: 334px;
//          background: lightgoldenrodyellow;
            display: flex;
            li{
                display: block;
                line-height: 45px;
                height: 45px;
                padding: 0 88px 0 17px;
                font-size: 22px;
                position: relative;
            }
            .a{
                transition: color 0.5s;
                font-family: "微软雅黑";
                font-size: 20px;
                font-weight: 600;
                span{
                    height: 0px;
                }
                &:hover{
                    color: #C81417;
                    span{ 
                        transition-property: height;
                        transition-duration: 0.5s;  
                        height: 5px;
                        position: absolute;
                        bottom: 0;
                        width: 60px;
                        display: block;
                        background: #C81417;   
                                           
                    }
                }
            }
            .sy{
                .a{
                    color: #C81417;
                }
               span{
                    height: 5px;
                    position: absolute;
                    bottom: 0;
                    width: 60px;
                    display: block;
                    background: #C81417;
                }
            }
            .mw{
                .mw-top{
                    display: flex;
                    img{
                        height: 20px;
                        width: 18px;
                        border: none;
                        margin-top: 14px;
                        margin-right: 6px;
                    }
                    &:hover{
                        a{
                            color: #333;
                        }
                        
                    } 
                }
                .bottom{                   
                    width: 1140px;
                    height: 568px;
                    background: #fff;
                    z-index: 90;
                    position: absolute;
                    left: -765px;
                    margin-top: 0;
                    
                    border: 1px solid #d1d1d1;
                    border-top: 0;
                    -webkit-box-shadow: 0 0 20px rgba(0,0,0,.13);
                    box-shadow: 0 0 20px rgba(0,0,0,.13);
                    border-radius: 0 0 8px 8px;
                    -webkit-border-radius: 0 0 8px 8px;
                    overflow: hidden;
                    display: flex;
                    flex-direction: column;
                    display: none;
                }
                &:hover{
                    .bottom{
                        display: block;
                    }
                }
                .shang{
                    display: block;
                    width: 770px;
                    margin: 0 auto;                   
                    overflow: hidden;
                    ul{
                        width: 100%;
                        overflow: hidden;
                        margin-left: -20px;
                        border-bottom: 1px solid #666;                        
                        li{
                            padding: 0;
                            width: 76px;
                            height: 28px;
                            text-align: center;
                            line-height: 28px;
                            border: 1px solid #666;
                            border-radius: 6px;
                            margin: 20px 0 20px 70px;
                            font-size: 16px;
                            color: #333;
                            float: left;
                            cursor: pointer;
                            &:hover{
                                color: #D61518;;
                                border-color: #D61518;;
                            }
                        }
                        li:nth-child(1){
                            color: #D61518;;
                            border-color: #D61518;
                        }
                    }
                }
                .zhong{
                    margin: 0 50px;
                    display: flex;
                    flex-direction: column;
                    .p{
                        width: 100%;
                        font-weight: 900;
                        font-size: 24px;
                        color: #333;
                        line-height: 90px;
                        text-align: center;
                        font-family: "微软雅黑";
                    }
                    .ap{
                        display: flex;
                        
                        flex-wrap: wrap;
                        .tit{
//                          width: 30px;
                            font-weight: 100;
                            font-size: 16px;
                            margin: 20px 10px;
                            line-height: 20px;
                            font-size: 16px;                          
                            background: orange;
                            &:hover{
                                background: blueviolet;
                                a{
                                    color: white;
                                }
                            }
                            a{
                                display: block;
                                padding: 8px 10px;
                                
                            }
                        }
                    }
//                  .boxitem{
//                      float: left;
//                      color: #333;
//                      width: 240px;
//                      height: 80px;
//                      position: relative;
//                      .boxtit{
//                          display: flex;
//                          max-height: 155px;
//                      }
//                      .ab{
//                          display: flex;
//                          flex-direction: column;
//                          margin-top: 11px;
//                          .tit{
//                              font-size: 18px;
//                              line-height: 1;
//                              margin-bottom: 16px;
//                              width: 150px;
//                              text-align: left;
//                              
//                          }
//                          .crum{
//                              font-size: 15px;
//                              line-height: 1;
//                              width: 150px;
//                              max-height: 30px;
//                          }
                            
//                      }                                               
//                      img{
//                          width: 70px;
//                      }
//                  }
                }
                .xia{
                    margin: 0 50px;
                    display: flex;
                    flex-direction: column;
                    .po{
                        width: 100%;
                        font-weight: 900;
                        font-size: 24px;
                        color: #333;
                        line-height: 80px;
                        text-align: center;
                        font-family: "微软雅黑";
                    }
                    .sb{
                        max-height: 148px;
                        overflow: hidden;
                        display: flex;
                        flex-wrap: wrap;
                        a{
                            display: block;
                            width: 130px;
                            height: 64px;
                            float: left;
                            margin-bottom: 10px;
                            text-align: center;
                            line-height: 0;
                            margin-top: 1px;
                            
                            img{
                                width: 110px;
                                height: 62px;
                                border: 1px solid #D1D1D1;
                            }
                        }
                    }
                }
                
            }
        }
    }
}









//底部间隔
.jg{
    padding-top: 30px;
    background: #cecece;
}


//底部
footer{
    width: 100%;
    background: #fff;
    -webkit-box-shadow: -1px 0 1px #666;
    box-shadow: -1px 0 1px #666;
    position: relative;
    overflow: hidden;
    font-family: "微软雅黑";
    .footer-box{
        width: 1200px;
        margin: 0 auto;
        ul{
            height: 82px;
            border-bottom: 1px solid #EDEDED;
            padding-top: 30px;
            display: flex;
            justify-content: space-between;
            li{
                width: 240px;
                display: flex;
                em{
                    display: block;
                    background: url(../img/lb6.png);
                    background-position: -270px -105px;
                    width: 62px;
                    height: 62px;                   
                }
                .long{
                    margin-left: 14px;
                    line-height: 30px;
                    span{
                        color: #d61518;
                        font-size: 18px;                      
                    }
                    p{
                        font-size: 12px;
                        color: #333;
                    }
                }
            }
            li:nth-child(2){
                em{
                    background-position: -360px -105px;
                }
            }
            li:nth-child(3){
                em{
                    background-position: -450px -105px;
                }
            }
            li:nth-child(4){
                em{
                    background-position: -540px -105px;
                }
            }
            li:nth-child(5){
                em{
                    background-position: -626px -105px;
                }
            }
        }
        .footer-center{
            height: 200px;
            border-bottom: 1px solid #EDEDED;  
            li{
                margin-left: 55px;
                -webkit-box-sizing: border-box;
                box-sizing: border-box;
                display: flex;
                flex-direction: column;
                height: 170px;
                border-right: 1px solid #CECECE;
            span{
                    color: #333;
                    font-size: 14px;
                    line-height: 35px;
                    margin-top: -10px
                }
                a{
                    line-height: 25px;
                    color: #666;
                    font-size: 10px;  
                    &:hover{
                        color: red;
                    }
                }
            } 
            li:nth-child(1){
                width: 200px;
                -webkit-box-sizing: border-box;
                box-sizing: border-box;
                display: flex;
                flex-direction: column;
                border:none;
                margin-right: 20px;
                margin-left: 0;
                .li-top{
                    display: flex;
                    justify-content: space-between;
                    em{
                        display: block;
                        background: url(../img/lb6.png);
                        background-position: 0 -105px;
                        width: 42px;
                        height: 43px;
                    }
                    span{
                        margin-left: 5px;
                        margin-top: 5px;
                        color: #333;
                        font-size: 12px;
                    }
                    .li-top-right{
                        position: relative;
                        em{
                            background-position: -60px -105px;;
                        }
                        img{
                            position: absolute;
                            top: 44px;
                            left: -6px;
                            z-index: 100;
                            background: #fff;
                            padding: 10px;
                            border: 1px solid #dadada;
                            -webkit-border-radius: 10px;
                            border-radius: 10px;
                            -webkit-box-shadow: 0 1px 3px #eee;
                            box-shadow: 0 1px 3px #eee;
                            display: none;
                        }
                        &:hover{
                            img{
                                display: block;
                            }
                        }
                    }
                    
                }
                .li-center{
                    width: 200px;
                    height: 80px;
                    margin-right: 25px;
                    position: relative;
                    i{
                        display: block;
                        font-style: normal;
                        width: 50px;
                        height: 26px;
                        position: absolute;
                        top: 15px;
                        left: 0;
                        color: #666;
                    }
                    ul{
                        width: 130px;
                        position: absolute;
                        padding: 0;
                        right: 0;
                        top: 13px;
                        height: 40px;
                        display: flex;
                        flex-direction: column;
                        border: none;
                        li{
                            border: none;
                            color: #666;
                            line-height: 20px;
                            height: 20px;
                            font-size: 12px;
                            padding: 0;
                            margin: 0;                            
                        }
                    }       
                }
                .li-bottom{
                    color: #666;
                    font-size: 12px;
                    
                }
            }
            li:last-child{
                -webkit-box-sizing: border-box;
                box-sizing: border-box;          
                height: 146px;
                width: 146px;
                margin: auto;
                margin-top: -13px; 
            }
        }
        
        .footer-bottom{
            width: 1200px;
            margin: 0 auto;
            position: relative;
            .fb-top{
                width: 640px;
                margin: 0 auto;
                margin-top: 25px;
                text-align: center;
                overflow: hidden;
                a{
                    &:hover{
                        color: red;
                    }
                }
            }
            .fb-center{
                width: 640px;
                margin: 0 auto;
                margin-top: 12px;
                text-align: center;
                overflow: hidden;
                color: #666;
                a{
                    display: inline-block;
                    text-decoration: none;
                    height: 20px;
                    line-height: 20px;
                    img{
                        float: left;
                    }
                    p{
                        float: left;
                        height: 20px;
                        line-height: 20px;
                        margin: 0px 0px 0px 5px;
                        color: #666;
                    }
                }
            }
            .fb-bottom{
                width: 1040px;
                margin-top: 25px;
                margin-left: 95px;
                display: flex;
                justify-content: space-between;
                a{
                    display: block;
                    height: 35px;
                    width: 91px;
                    background: url(../img/lb6.png);      
                    &:hover{
                        color: #f34;
                    }              
                }
                a:nth-child(1){
                    background-position: -18px -30px;
                }
                a:nth-child(2){
                    background-position: -112px -30px;
                }
                a:nth-child(3){
                    height: 37px;
                    background-position: -206px -30px;
                }
                a:nth-child(4){
                    background-position: -298px -30px;
                }
                a:nth-child(5){
                    background-position: -393px -30px;
                }
                a:nth-child(6){
                    height: 37px;
                    width: 91px;
                    background-position: -489px -30px;
                }
                a:nth-child(7){
                    background-position: -582px -30px;
                }
                a:nth-child(8){
                    background-position: -690px -30px;
                }
                a:nth-child(9){
                    background-position: -792px -30px;
                }
                a:nth-child(10){
                    background: none;
                    font-size: 10px;
                }
            }
        }
    }
}
