//轮播图
#scrollBanner{
    position: relative;
    width: 100%;
    height: 494px;
    overflow: hidden;
}
#scrollList{
    width: 100%;
    height: 494px;
}
#scrollList ul{
    width: 100%;
    height: 494px;
}
#scrollList li{
    position: absolute;
    width: 100%;
    height: 494px;
    opacity: 1;
}
#scrollList img{
    width: 100%;
    height: 494px;
}
#btns div{
    position: absolute;
    width: 80px;
    height: 80px;
    text-align: center;
    line-height: 80px;       
    color: white;
    font-size: 50px;
    top: 50%;
    margin-top: -25px;
    cursor: pointer;
    z-index: 10;
    &:hover{
        opacity: .2;
        background: #000000;
    }
}
#btns .prev {
    left: 240px;
}
#btns .next{
    right: 240px;
}
#nums{
    z-index: 10;
    position: absolute;
    right: 700px;
    bottom: 20px;
}
#nums li{
    float: left;
    margin: 0 10px;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    font-size: 12px;
    cursor: pointer;
    background: white;
    color: black;
    border-radius: 50%;
}
#nums li:hover,#nums li.hover{
    box-shadow: 5px 5px 5px #888888; 
}


//大图广告
.bigpic{
    display: block;
    width: 100%;
    overflow: hidden;
    a{
        display: block;
        img{
            width: 100%;
            height: 616px;
        }
    }
}


//底部间隔
.jg{
    padding-top: 30px;
    background: #cecece;
}


//底部
footer{
    width: 100%;
    background: #fff;
    -webkit-box-shadow: -1px 0 1px #666;
    box-shadow: -1px 0 1px #666;
    position: relative;
    overflow: hidden;
    font-family: "微软雅黑";
    .footer-box{
        height: 525px;
        width: 1200px;
        margin: 0 auto;
        ul{
            height: 82px;
            border-bottom: 1px solid #EDEDED;
            padding-top: 30px;
            display: flex;
            justify-content: space-between;
            li{
                width: 240px;
                display: flex;
//              justify-content: space-between;
                em{
                    display: block;
                    background: url(../img/lb6.png);
                    background-position: -270px -105px;
                    width: 62px;
                    height: 62px;                   
                }
                .long{
                    margin-left: 14px;
                    line-height: 30px;
                    span{
                        color: #d61518;
                        font-size: 18px;                      
                    }
                    p{
                        font-size: 12px;
                        color: #333;
                    }
                }
            }
            li:nth-child(2){
                em{
                    background-position: -360px -105px;
                }
            }
            li:nth-child(3){
                em{
                    background-position: -450px -105px;
                }
            }
            li:nth-child(4){
                em{
                    background-position: -540px -105px;
                }
            }
            li:nth-child(5){
                em{
                    background-position: -626px -105px;
                }
            }
        }
        .footer-center{
//          margin-top: 30px;
            height: 200px;
            border-bottom: 1px solid #EDEDED;  
//          padding-right: 40px;                    
            li{
                margin-left: 55px;
                -webkit-box-sizing: border-box;
                box-sizing: border-box;
                display: flex;
                flex-direction: column;
                height: 170px;
                border-right: 1px solid #CECECE;
            span{
                    color: #333;
                    font-size: 14px;
                    line-height: 35px;
                    margin-top: -10px
                }
                a{
                    line-height: 25px;
                    color: #666;
                }
            } 
            li:nth-child(1){
                width: 200px;
                -webkit-box-sizing: border-box;
                box-sizing: border-box;
                display: flex;
                flex-direction: column;
                border:none;
                margin-right: 20px;
                margin-left: 0;
                .li-top{
                    display: flex;
                    justify-content: space-between;
                    em{
                        display: block;
                        background: url(../img/lb6.png);
                        background-position: 0 -105px;
                        width: 42px;
                        height: 43px;
                    }
                    span{
                        margin-left: 5px;
                        margin-top: 5px;
                        color: #333;
                        font-size: 12px;
                    }
                    .li-top-right{
                        position: relative;
                        em{
                            background-position: -60px -105px;;
                        }
                        img{
                            position: absolute;
                            top: 44px;
                            left: -6px;
                            z-index: 100;
                            background: #fff;
                            padding: 10px;
                            border: 1px solid #dadada;
                            -webkit-border-radius: 10px;
                            border-radius: 10px;
                            -webkit-box-shadow: 0 1px 3px #eee;
                            box-shadow: 0 1px 3px #eee;
                            display: none;
                        }
                        &:hover{
                            img{
                                display: block;
                            }
                        }
                    }
                    
                }
                .li-center{
                    width: 200px;
                    height: 80px;
                    margin-right: 25px;
                    position: relative;
                    i{
                        display: block;
                        font-style: normal;
                        width: 50px;
                        height: 26px;
                        position: absolute;
                        top: 15px;
                        left: 0;
                        color: #666;
                    }
                    ul{
                        width: 130px;
                        position: absolute;
                        padding: 0;
                        right: 0;
                        top: 13px;
                        height: 40px;
                        display: flex;
                        flex-direction: column;
                        border: none;
                        li{
                            border: none;
                            color: #666;
                            line-height: 20px;
                            height: 20px;
                            font-size: 12px;
                            padding: 0;
                            margin: 0;
                        }
                    }       
                }
                .li-bottom{
                    color: #666;
                    font-size: 12px;
                    
                }
            }
            li:last-child{
                -webkit-box-sizing: border-box;
                box-sizing: border-box;          
                height: 146px;
                width: 146px;
                margin: auto;
                margin-top: -13px; 
            }
        }
        
        .footer-bottom{
            width: 1200px;
            height: 256px;
            margin: 0 auto;
            border: 1px solid red;
//          margin-top: -60px;
            position: relative;
            .fb-top{
                width: 540px;
                position: absolute;
                right: 0;
                ul{
                    display: flex;
                    flex-wrap: wrap;
                    width: 540px;
                    border: none;
                    li{
                        height: 20px;
                        margin: 0;
                        padding: 0;
                        width: 105px;
                        float: left;
//                      margin-left: -10px;
                        color: #666;
                    }
                }
            }
        }
    }
}
